.label {
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	display: inline-block;
	position: absolute;
	left : 40px;
	top: 8px;
}

.error {
	font-size: 9pt;
	color: red;
}

img {
	height: 16pt;
	margin-right: 2pt;
}