html body {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	background-color: #EEE;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
}

html {
	height: 100%;
}

html body>div {
	background-color: white;
	-webkit-box-shadow: #888 2px 2px 2px;
	border-radius: 6px;
	padding: 10px;
	overflow: hidden;
	position: relative;
}

html input[type="search"] {
	width: 470px;
}

html #tab-pages.selected, html #tab-tabs.selected, html #tab-tags.selected, html #tab-options.selected
	{
	max-height: 100%;
}

html .title-input {
	width: 495px;
}

html .tabs-tab-title {
	width: 510px;
}

html .tabs-tab-title.saving {
	width: 420px;
}

html .pages-row-link-input {
	width: 456px;
}

html .tags-row-link {
	width: 510px;
}

html #options-newtab {
	display: none;	
}

html .screen-mask {
	position: absolute;
	display: block;
	width: 580px;
	top: 0px;
}

html #pages-tags-filter, html #pages-url-filter {
	width: 500px;
}