html body {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	background-color: #EEE;
}

html {
	height: 100%;
}

html body>div {
	background-color: white;
	-webkit-box-shadow: #888 2px 2px 2px;
	border-radius: 6px;
	overflow: hidden;
	padding: 10px;
}

#error,#firstuse {
	padding-left: 20px;
	padding-right: 20px;
}

html input[type="search"] {
	width: 470px;
}

html #tab-pages.selected,html #tab-tabs.selected,html #tab-tags.selected,html #tab-options.selected
	{
	max-height: 100%;
}

html .title-input {
	width: 507px;
}

html #pages-list li[id]:hover .title-input {
	width: 475px;
}

html .tabs-tab-title {
	width: 515px;
}

html .tabs-tab-title.saving {
	width: 410px;
}

html .pages-row-link-input {
	width: 485px;
}

html .tags-row-link {
	width: 532px;
}

html #tab-tags .title-input {
	width: 532px;
}

html #tags-list li[id]:hover .title-input {
	width: 500px;
}

html #options-newtab {
	display: none;
}

html .screen-mask {
	position: absolute;
	display: block;
	width: 580px;
	top: 0px;
}

html #pages-tags-filter,html #pages-url-filter {
	width: 500px;
}

html .tags-row-link {
	color: #5F7EC1 !important;
}

#pages-list li[id]:hover .title-input[contenteditable] {
	width: 507px;
}

#tags-list li[id]:hover .title-input[contenteditable] {
	width: 532px;
}

.sortby-link {
	padding-left: 20px;
}