.scrapbook-toolbox {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 605px;
	height: 24px;
	z-index: 2147483647;
	background-color: white;
	border-width: 0px;
	box-shadow: 2px 2px 2px #ccc;
	-webkit-transition: width .5s ease-out;
	-webkit-user-select: none;
}

.scrapbook-colorpicker {
	position: fixed;
	top: 30px;
	left: 0px;
	width: 150px;
	height: 130px;
	z-index: 2147483647;
	background-color: white;
	border-color: gray;
	border-width: 0px;
	box-shadow: 2px 2px 2px #ccc;
}

.scrapbook-toolbox.collapsed {
	width: 12px;
}