body {
	-webkit-user-select: none;
	margin: 0px;
	font-family: "Arial";
	font-size: 9pt;
}

.collapsed .main-buttons {
	display: none;
}

.main-buttons {
	position: absolute;
	right: 1px;
	top: 1px;
}

.select-input {
	margin-top: 3px;
	margin-left: 4px;
	vertical-align: top;
	margin-right: 2px;
	height: 16px;
	border-width: 0px;
	font-size: 9pt;
}

.color-set-input {
	display: inline-block;
}

.button {
	margin-right: 2px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	border-radius: 3px;
	margin-top: 3px;
	position: relative;
}

.button div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 3px;
}

.button:hover {
	background-color: #eee;
	box-shadow: 0px 0px 3px #222;
	-webkit-transition: all .3s ease-out;
}

.collapse-left-button,.collapse-right-button {
	margin-top: 0px;
	width: 13px;
	height: 24px;
	postion: absolute;
	height: 24px;
}

.bold-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEfBo8W2BwAAABZSURBVDjL3ZLBDQAgCAOrcaPuPwIz4RcNqSHxo30SWuAC8LzaXiDpymBmi2ekTSKApMeQAT2uBadn4b0yHQB4YgDBgAmDXiFuCeT7DKrSGxx+orwB97P+0ARC+xsanzAp7AAAAABJRU5ErkJggg==);
}

.italic-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEfH+t9cNwAAABVSURBVDjL1ZCxEcAwCMTkrPT7j/AzOY1TxXA4TmM6jkPogeOrhROpA2i0BrBbHQBI6n6ayTLAtRuhBgiupwCNH2wZ+JcIiX4IqOqnBv4KeF1fsDm0btKjExBuz7uBAAAAAElFTkSuQmCC);
}

.underline-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEgAD6rVxUAAABHSURBVDjLY2AY8oARmWNsbPz/LIxz9ixRckyUumDUABIMOEstFxjjSwcY8Y1F81m09MGIVSEuQ9A0Uz8pMxgb/ycuRKmYlAFgnBUV1VktAgAAAABJRU5ErkJggg==);
}

.strike-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEgJAKos8QAAABMSURBVDjLY2AYBTiBurv7f2LUMVFqESM2227u3MmITQxdLUwMq9ORFeJiMzAwMDAS61eiAwybC1Td3HC6gAVfqONyHUwcaxiMAtIBADINJikJ48DDAAAAAElFTkSuQmCC);
}

.indent-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEiEv8kRN8AAABVSURBVDjLY2CgJRCxtf3PQGvAiG7jm8OHGZFpfJrfHD7MSF0X/Jyt/J899S4jvjBAt5UJXcHP2cokBRwjLg3ILiHJC8iaiQlEJnJtHkbpYODzAsUAAEr9MyQM18nUAAAAAElFTkSuQmCC);
}

.outdent-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEiAAydNZcAAABTSURBVDjLY2CgJRCxtf3PQGvAiG7jm8OHGZFpfJrfHD7MSD0X/Jyt/J899S4joTBAt5UJpplsF+DSjO4avF6AGUKMF9C9w0SKbcM0HQx8XqAYAACq/TMkBSEIlAAAAABJRU5ErkJggg==);
}

.olist-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEhBs7Tw2EAAABJSURBVDjLY2CgFhCysfkvZGPzn1R9jOiGvDtyhBGZj08zslqiNGADTAyDBlAlENEDki6BiDXKMEweOoEIM4DsQCQ3ICnyAsUAAN/dLOoB9+oGAAAAAElFTkSuQmCC);
}

.ulist-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEhF6Rj45MAAAAxSURBVDjLY2CgEDDCGEI2Nv9h7HdHjjASawALLglkA7EBmCUshBQMfjAaiKOBODgAAGuHH4Gg4VkzAAAAAElFTkSuQmCC);
}

.align-left-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEiMCpEBTsAAAAmSURBVDjLY2AYaMAIYwjZ2PzHp/DdkSOMA+sCmrloNAxGw2BwAAChMxgHT+6lOAAAAABJRU5ErkJggg==);
}

.align-center-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEjDvI+KdEAAAApSURBVDjLY2AYaMCILiBkY/Mfn4Z3R44w0sYFhGymmUtGw2A0DAYHAABBMxgHBrgUGQAAAABJRU5ErkJggg==);
}

.align-right-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEjMDNfNHoAAAApSURBVDjLY2AYaMCIS0LIxuY/Po3vjhxhpK4LCNlIexeMhsGIDoOBBwDhJBgHHfRFiAAAAABJRU5ErkJggg==);
}

.justify-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhEkHTnB/sgAAAAmSURBVDjLY2AYaMDIwMDAIGRj859Uje+OHGEcdcGoC4aRCwYeAABPuxgHyRQO7AAAAABJRU5ErkJggg==);
}

.undo-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhElFS4BR7sAAAC1SURBVDjL5VFBCoMwEJw1By0I6cEf6DM8eFCKL/ZgDhbzjPqDXISC7SFsD2lRbFpsj+1CWNjd2dnMAL8ZaVlzVlW8ZTZYF7LqwOP1vJmM1swPsOl7+mhBWtY8Xqa5wQIAwGQBspBhjEE15F2wZHYo4aGyAAsY3dGTBoNqSIbxoszukZ3B95zkBX+lQZIX7K4IYPSRvC4MqqF9FAEssLbR6I7c1+i9jae2JRntvIob3b3s/XPcAFn/R4jG1v9OAAAAAElFTkSuQmCC);
}

.redo-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhElLHEEz7MAAACdSURBVDjLY2AY/kDF1fW/iqvrf1zyTMQY8uH7bwZlF0+shjASY4CIjcN/BgYGBn4OToa7e7Yz4jVA2cXz/8cf36GyfzEME+DgYLizezcjVgNUXF3/f/jxA7sz/jPDDUU2BG6AiK3tfwwNyC6A8vnZeVC8wYJNw5vDh1FcBjMcYjNqGCBiAYdmWBQKcLKi+B3DAH52HgzNuAJuFKACAJdpOgDSYHNbAAAAAElFTkSuQmCC);
}

.hrule-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhITJPSFaK0AAAB4SURBVDjLY2CgEDAyMDAwrF279j85moODgxlZYJygoCAMBX///mVgYmJiYGRkxJBbt24dAwMDAwMLNkFCwNjYGM5GMQCbK7CBhw8fYjdg4F2g5u5OlAG7Z82Cs5koTQcoLri1c+cQCERk22nvAnTb8AYisbZTHQAAiW8swJhU4IUAAAAASUVORK5CYII=);
}

.remove-format-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhISJ3SXCFYAAACdSURBVDjLY2AY8oARlwSX84X/uOSEb19gePwogZGBgYGBBZfmXVM1UMSuP//LwMDAwNAUvxpFnImQ5uvP/6Jolkn2xW0Al/OF/3dW6WBoRNZ88dBj7AYga1YSZWHw1mMnqBkeiDBnl678iqHg4qHHDPp2snDNyAGIEojIzkUP8YtYQh/DC/MO/cAb39g0w70gK7fgP6EEg03zKIAAAIjsUyLMj6qhAAAAAElFTkSuQmCC);
}

.save-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhIQBgrIeooAAAD5SURBVDjLY2CgEDAyMDAwWDa+/U+shnPbLsHZP086MrLAOEl2HAztCz4w3F0ghdcA5XtqDC+evGb4++U9AwMDAwMLNkX//2N3ECMjIwMDAwNcMwMDAwMTLoXYMAxIa6jB2WS5ABkwURoLLMTaRLQBygnPyHdBZYIAAwMDA8O8Qz/gYi/v/cDQ9OLJa1QDXt77wcBgxwHX/OhACIYmVQEBhkd8U1A0Y7gA2ebtOvsZGBgYGNT1lBkYGBgY3LcJwDVjTQfImmEAppmBgYFBjJ0dQzPWaLx46DGG5i/yngxHX77E0AzPTErxT/8/vXGL5DTw86QjI6XpiAEANppTO+1I8RUAAAAASUVORK5CYII=);
}

.color-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhIOH7ri7ZUAAAECSURBVDjLY2AYaMCILvBztvJ/GJs99S4jSQYgaybWECZcEn///CbKC0zotv/49pOBPfUu44sHrxh+fPuJ1VU4XfD3z2+Gt8/eMDAwMDB8+faD4e2zNwRdgmLA71//GJQ6fzAyMDAw6E2GhA8zCyvhQER25vs3Xxm+ffjAwCUgwMAnwMYgyfIUrvhj6l/G/wwM/5E0M7Igm/bj208GQVFuBkERbqLTAQty4DEomDOw+6+FR9vHjcH/GV49wNB0Qo2JweLWP4gBsMD7/u0PAycWGx59k2RgZWNi4Mp8xAhzNgNUM9aUiOHEiC9wP/9ZwcP4/Tg3nM9p+ZWRidK8wDTguREA0XlhBmYGfuAAAAAASUVORK5CYII=);
}

.bgcolor-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHhIONBZeFNUAAAF+SURBVDjLxZOxSxtxFMc/7+4SNfWUKoJgbAt1kDopda4QKBQK/RNCwcExCCLtUOg/ULpVN6Wj4GSWTqHBTcGpIEgQUugQbGjv8HJ3+f2ew1EhFYno4Hd9jw/vve/3iSrKLSWCONxR3rUVFYzN+K5jQfTmgJXyc/aaPq6TAV5N/WFj++BmAGNcqj9HmHxQAKAVRew1/WsHvXKDzWqRiaEhBl2XYj7iPEmI0pTG8Vh/gOl67Gwt4OdynHe7fPl8hFVFVVl9P98fEAY+v+MYo8qjgQ6TU23yroeIsN9K+gPWK08BaIYhL8sniGN58zhEVbGqfPq4eDUL/4IUtIcplZeIjeUsikiNITUGEclcVWVuNEe9WusJkpcVHb7Wx4mNJUgSBsTl9ZPgsnH3tICxlh9/uwTtYfyH4X82KnzbniG1KUEc867UYfXDIYii1oG3C+w0BgFYq8z2ZEKyIztMl16QGoNVpfW93rNn43iMxeVnAORdj1+12uUKcu/PdGddAFO7oiXb4ERiAAAAAElFTkSuQmCC);
}

.collapse-left-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYCAYAAADOMhxqAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHw8LMMAGc88AAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAB/UlEQVQ4y4WUS0/bQBRGz9jjxHEeSMWASFigtoumvyBI5c+XfaFKK7pFATUEEuJxioXjmdtFjCGQ0ruaxZz7+O5DnZ5+k0W6QCnFW+bE0Qgb6NSkdDodtNZvAvdZxnQ6RQO8295mf38fEfkncHFxwd1stgJ87ZNlGcvlcuPnMAzxPQ9gBSilSI0hMYaXlQiwtbWFegkkxjC5vn5VvIiggEYUPQHOOXoHB2zH8eaUGg1ub26eRUCRpoYkMVUEEUFESJKETrtNq90GwHtMabH4gynrSIxBKbi9mfDzx5DpbIZXOtIrb469vT3arRYA82TO97MzJpMJSimaUcSj4FXRxhjG49+Mx2MuRyOcc2itsdayLJ7k1o/pXF1d8uv8HOccIoJXygjgrK3enohQr9c4PDyk1+tVH593vVarPwEAQRCgdUC//5nB4Ihut4tzDuccAMuiWAcA8jwnXSxAKd5/+MhgcEQURatIz6KVKkEzitZmKQxDvhwfMxwO8X1vHVAKHvKc/OEBVU2TgFL0P/VptlpVemtL4Gt/4yzV63Wy+/t1IM9z5nfzjUAQ1AjKBdMigrWOIAhoNpu8nm8hDEOKUikNUBQF3W6XnZ0dNm22rzWXo9EKsNZii+JVd9cOgHMUZbd1lmWcnHzljXWubHd3Fx3HMYW1/z0zIkIcx/wFj1n4DVbDyqoAAAAASUVORK5CYII=);
}

.collapse-right-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYCAYAAADOMhxqAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHHw8MCdBCbQAAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAB/0lEQVQ4y32UTVfaUBCGn7kJBBIkIhGxCUftqi7Q/7+yC93Ylaft3lMrHi1YkoAiJLldEIJ81Fnec5+Zd96Ze+Xb9bV+nbyiRPFRaK2p7dQwB4MBe80mdrX6IZAkCVEUYYoIjUaDo6Oj/14WER4eHuYAgKEUs9mMyWSyFSiVShimATAHRCmGwyFhGCLr2gG3XkcM9Q4QIQpDnh4fEZGNZgXY3WssgSzL8Dsdmp63VVKlUiEexUtAKcWv21uiOMZ1XUSkqKS1xnXrSG67AlAiDJ6f+fnjO/0/T4hAGEWEUUQURYxG4yKBuWjMsW0mkwk3Nze0Wi3Ozs/ZdXcBsB2Hl5fxEgCYJbP5gWnS7/f5enFB0OnQbrdptw8plcxVIEvTokmlFFprft/d0bu/58vpKb4fICJLoFy2VqxcgL7vc3x8XCR5JylhYbHWmiAIODn5TK1WwzRLGO8Hl6dFa43jOHS7Z5QtC6018WiEMgyq1coqYBgKPwjodrvkiopwbJs0y1Yn3T78xM5OnenblDmRDw7N23S65pLWWJbFeDwqtnLdgEUUyxfHMcO/w63LVy5bqxV0vmCOY8MagJ6/hzTNlrbqLOPg4ACv2dx8y/n0e73eskKSpmRZhqjNj0ByWWmSkKYpZpIkXF1ecsXHIQL7+y1Mz/NI0nSj2W3fjOd5/APkMdwrnWI/GwAAAABJRU5ErkJggg==);
}

.get-note-button {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sIBBY0HyW2uxoAAACISURBVDjL1Y87DsJADETHyNshCihyrr1HjpMzcJS9xJ6AAgqUYr0/UxGlgkiOhJjKHmmeZgCjaP0851G3Bk/HiQCA30YIQYErHvfha/h8uS33wTqBP9G3yNxgPwAR/XsDM8A5ZwMw828Ay/AYo6aUICIQEeScUUpBrRWtNfTeoapQVXjvCXvpBfvkLlTB48//AAAAAElFTkSuQmCC);
}